body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000; 
}

.navbar .navbar-brand {
    color: #fff; 
}



.navbar .nav-link {
    color: #fff; 
}

.navbar .nav-link:hover {
    color: #25f4ee; 
}


.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
}

.content-box {
    text-align: center;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 450px;
    max-width: 95%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


h1 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #000; 
}


form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(45deg, #fe2c55, #25f4ee); 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}


#results {
    margin-top: 20px;
}

.result-box {
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.result-box img {
    width: 180px;
    border-radius: 6px;
    margin-bottom: 10px;
}


.download-btn {
    display: inline-block;
    padding: 8px 15px;
    background: linear-gradient(45deg, #fe2c55, #25f4ee); /* merah → cyan */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.download-btn:hover {
    opacity: 0.9;
}

/* MOBILE FIX */
@media (max-width: 500px) {
    form {
        flex-direction: column;
    }
    button {
        width: 100%;
    }
}
